/*The classic styling module will make your website look standard with no animations and a basic greyscale color scheme.

- main interface color: rgb(76, 77, 85)
- title color: white
- page header color: #e2e1e1
- header font: sans-serif
- paragraph font: serif
- heading text transformation: uppercase
- button color: #afafaf
- button text color: white
- other: general text align left, social media icons light grey, some basic shadowing around components

/*Page styling*/
.pageStyling {
    background-color: rgb(102, 103, 114);
}

/*Headings and text styling*/
.mainTitle {
    color: white; 
    background-color: rgb(102, 103, 114);
    
    font-family: sans-serif; 
    font-size: 3.1vw; 
    font-weight: 795;  
    
    text-transform: uppercase;
}

.pageTitle {
    font-family: sans-serif;

    color: #e2e1e1; 

    font-size: 2.79vw;
    font-weight: 650;

    text-transform: uppercase;

    text-align: left;
}

.p {
    font-family: serif;

    color: #e2e1e1;

    font-size: 1.736vw;

    text-align: left;
}

/*Header styling*/
.header {
    background-color: rgb(76, 77, 85);

    box-shadow: inset 1px 1px 8px #000;

    text-align: center;
}

/*Menu bar styling*/
.menu {
    background-color: rgb(76, 77, 85);

    box-shadow: inset 1px 1px 8px #000;
}

.menuButton {
    width: 100%;
    height: 100%;   

    cursor: pointer;

    color: white;
    font-family: sans-serif; 
    font-size: 1.426vw; 
    font-weight: 795;  
    letter-spacing: 0.15cm;
    
    text-transform: uppercase;

    background-color: #afafaf;

    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/*Footer styling*/
.footer {
    background-color: rgb(76, 77, 85);;
}

/*Social panel component*/
.socialsPanel {
    color: rgb(151, 151, 151);

    border-color: rgb(47, 48, 53);
    
    background-color: transparent;
}

/*Awards panel component*/
.awardsContainer {
    background-color: transparent;

    box-shadow: 1px 1px 8px #000;
}

/*Booking component*/
.bookingContainer {
    background-color: #afafaf;

    box-shadow: 1px 1px 8px #000;
}





