/*% sizing used here as absolute sizing is set in the static features module, except for fonts, where absolute sizing is still used.*/

/*Headings and text styling*/
.h1 {
    color: white; 
    
    font-family: 'Raleway',sans-serif; 
    font-size: 3.1vw; 
    font-weight: 795;  
    
    text-transform: uppercase;
}

.h2 {
    font-family: 'Raleway',sans-serif;

    color: #e2e1e1; 

    font-size: 2.79vw;
    font-weight: 650;

    text-transform: uppercase;

    text-align: left;

    margin-left: 5%;
}

.p {
    font-family: 'Raleway', serif;

    color: #e2e1e1;

    font-size: 1.736vw;

    text-align: left;

    padding-left: 5%;
    padding-right: 5%;
}

/*Menu bar styling*/
.menu {
    background-color: rgb(76, 77, 85);

    box-shadow: inset 1px 1px 8px #000;
}

.menuButton {
    width: 100%;
    height: 100%;   

    color: white;
    font-family: 'Raleway',sans-serif; 
    font-size: 1.426vw; 
    font-weight: 795;  
    letter-spacing: 0.15cm;
    
    text-transform: uppercase;

    background-color: #afafaf;
    
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.menuButton:before {
    position: absolute;
    z-index: -1;

    content: "";
    
    left: 0;
    bottom: 0;
    right: 100%;
    

    background: rgb(76, 77, 85);
    height: 10px;

    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.menuButton:hover:before, .menuButton:focus:before, .menuButton:active:before {
    right: 0;
}

/*Footer styling*/
.footer {
    background-color: rgb(76, 77, 85);;
}

/*Social panel component*/
.socialsPanel {
    color: rgb(151, 151, 151);

    border-color: rgb(47, 48, 53);
    
    background-color: transparent;
}

/*Awards panel component*/
.awardsContainer {
    background-color: transparent;

    box-shadow: 1px 1px 8px #000;
}

/*Booking component*/
.bookingContainer {
    background-color: #afafaf;

    box-shadow: 1px 1px 8px #000;
}


/*Time select component*/
.timeSelectBox {
    width: 96%;

    background-color: #8f8f8f;
    border-radius: 5%;

    color: rgb(80, 80, 80);

    font-family: 'Raleway',sans-serif; 
    font-size: 1.426vw; 
    font-weight: 795;  
    letter-spacing: 0.05cm;
}




