html, body {
    margin: 0;
    padding: 0;
 }

.pageStyling1 {
    background-image: url('../media/main-background.jpg'); 
    background-size: cover;
    
}

.pageStyling2 {
    background-image: url('../media/second-background.jpg'); 
    background-size: cover;
}

.pageStyling3 {
    background-image: url('../media/third-background.jpg'); 
    background-size: cover;
}

.pageStyling4 {
    background-image: url('../media/forth-background.jpg'); 
    background-size: cover;
}

.restOfScreenContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.pageContainer {
    background-color: #00000050;

    padding-top: 15%;
    width: 100%;
    height: 100%;

    padding-bottom: 60%;
}

/*Booking component*/
.bookingComponentContainer { 
    display: grid;
    grid-template-columns: 1fr 2fr;

    width: 100%;
    height: 100%;
}

.timeAndConfirmationContainer {
    display: grid;
    grid-template-columns: 1fr;
}

.bookingButton {
    width: 90%;
    height: 75%;

    margin-left: auto;
    margin-right: auto;
}

/*Date select component*/
.dateSelectContainer {
    display: grid;
    grid-template-columns: 1fr;

    width: 25%;
    height: 25%;

    padding: 1%;

    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 22.5%;
}

.monthSelectorContainer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    width: 100%;
    height: 50%;
}

.dayGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    width: 100%;
    height: 100%;
}

/*Time select component*/
.timeSelectBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*Gallery component*/
.galleryContainer { 
    width: 90%;

    margin: 5%;

    border-radius: 8px;
    box-shadow: 1px 1px 8px #000;
}

.galleryImage {
    max-width: 100%;
    height: auto;
}

.carousel {
    width: 100%;
    height: 100%;
}

.carouselItem {
    width: 100%;
    height: 100%;
}

/*Price list component*/
.priceMenu {
    width: 90%;

    margin-top: 2.5%;
    margin-left: 5%;
    margin-right: 5%;

    border-radius: 8px;
    box-shadow: 1px 1px 8px #000;
}

.priceListItem {
    display: grid;
    grid-template-columns: 1fr 1fr;

    min-width: 50%;
}

/*Maps component*/
.mapContainer {
    width: 32.5%;
    max-height: 42.5%;

    background-color: red;
}


.title {
    position: fixed;
    right: 0;

    z-index: 1;

    padding-right: 3.5%;
    padding-top: 2.5%;
    
    width: 70%;

    text-align: right;
    line-height: 10px;
    margin: auto;
}

.menuButton {
    width: 100%;
    height: 7.5%;

    padding-bottom: 5px;
}

.menuTop {
    width: 100%;
    height: 7.5%;
}

